.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container > h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.container > h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
